/* styling of the page */
div.css-18e3th9.egzxvld2 {
    background-color: rgb(255, 255, 255);
    padding: 0% 3% 0% 3%;
}

/* styling of metrics panel */
div.css-1ht1j8u.e16fv1kl0 {
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    opacity: 1;
    padding: 0% 0% 0% 0%;
    border-radius: 0px;
    text-align: center;
}

